@charset "utf-8";

/* -----------------------------------------

INFORMATION

FileName:	basic.css
Summary:	format
Created:	2008-09-04
UpdatedBy:	2008-09-04
Copyright:	(c)2008 www.y-tti.com

------------------------------------------ */


/* 001:ヘッダー
--------------------------- */

/* 002:右ナビゲーション
--------------------------- */


/*bannerBlock
--------------------------- */


/* 003:メインコンテンツ
--------------------------- */

/*h2
-------------------------------------------*/


/*h3
-------------------------------------------*/

/*normaltable
-------------------------------------------*/


/*smalltable
-------------------------------------------*/

/*float要素
--------------------------- */
/* ページトップ
--------------------------- */

/* フッタ
--------------------------- */

/* 001:リンク
--------------------------- */

/* 001:CSSハック
--------------------------- */
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear:both;
	visibility:hidden;
}

.clearfix{display:inline-block;}/* IE7用 */

/* Hides from IE-mac \*/
* html .clearfix{height:1%;}
.clearfix{display:block;}
/* End hide from IE-mac \*/
